
.logintitle{
    /* margin-top: 20px; */
    text-align: center;
   
    color:rgb(24, 24, 22);
   
    height: 100px;
    text-align: center;
}
.form{
    width: 350px;
    align-items: center;
    justify-content: center;
    /* margin-left: 34%; */
    margin-top: 20px;
    overflow: hidden;
}
.glefb{
    border-width: 0.01px;
    background-color: beige;
    margin: 5px;
}
.forgetpsw{
    margin:30px;
    color: black;

}
.orderplaced{
    margin-top: 400Px;
    margin-bottom: 400px;
}
