.typeof{
    margin-bottom: 100px;
}
.toys{
    color: rgb(18, 19, 19);
    text-align: center;
    margin-bottom: 200px;
    margin-top: 200px;
  
}
.Listofproducts{
    background-color: rgb(222, 228, 233);
    height: 150px;
    text-align: center;
    
   
   
}
.description{
    color: black;
    font-size:19px;
    /* font-weight: 100px; */
   
}
.product_list{
    margin-top: 40px;


}