 .blogtitle{
    text-align: center;
    margin-top: 70px;
}
.blogimage1{
    width: 100%;
    height: 100%;
    
}
.blogimage{
    text-align: center;
    color: black;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.row{
    align-items: center;
   
}

.bloglink{
    color: rgb(10, 10, 9);
}
.bloglink1{
    color: rgb(104, 103, 101);
} 
.bloglinks{
    cursor: pointer;
    color:saddlebrown;
}
